@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-x: hidden;
}

.side-nav {
	position: absolute;
	z-index: 100;
	right: 0;
	top: 0;
	bottom: 0;
	transition-property: all;
	transition-timing-function: ease-in;
	transition-duration: 1.5s;
}

.side-item-btn {
	width: 100%;
}
